# Ignore result directories used across projects
# **/result/

# Ignore generated result logs and epoch logs
# **/*result_log*.csv
# **/*epoch_log*.csv

# Ignore Python build artifacts
__pycache__/
*.pyc
.pytest_cache/
*/pyxbld/
*.DS_Store

# Ignore compiled extensions/build directories
build/
dist/
